# API Settings
PROJECT_NAME="Agrinode Core Backend"
API_V1_STR="/api/v1"

# Database Configuration (Local PostgreSQL)
# Example: postgresql+asyncpg://user:password@localhost:5432/dbname
DATABASE_URL="postgresql+asyncpg://postgres:postgrest@localhost:5432/postgres"

# Firebase Credentials (Service Account JSON)
FIREBASE_API_KEY=""
FIREBASE_PROJECT_ID=""
FIREBASE_PRIVATE_KEY_ID=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_CLIENT_ID=""
FIREBASE_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
FIREBASE_TOKEN_URI="https://oauth2.googleapis.com/token"

# Gemini API Key
GEMINI_API_KEY=""

#OPENWEATHERAPI
OPENWEATHERAPI=""

#TEST EMAIL
FIREBASE_EMAIL=""
FIREBASE_PASSWORD=""